body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEEEEE;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
}

.topbar {
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #FFFFFF;
    font-size: 18px;
    padding: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}